* {
  margin: 0;
}

h1:hover, h2:hover, h3:hover, h4:hover, p:hover {
  cursor:default;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(249, 243, 235);
}


/* HEADER */
.header-container {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 200px;
  border-radius: 0;
}

.header-h1, .header-h2 {
  z-index: 1;
  color: white;
  text-shadow: 0 0 5px black;
  backdrop-filter: brightness(70%);
  padding: 0 5px;
  text-align: center;
}


/* INFO */
.info-container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 30px;
}

.info1-container, .info2-container, .info3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 700px;
  padding: 20px 20px 45px;
  background: linear-gradient(300deg, antiquewhite, rgb(253, 197, 119));
  transition: all 0.30s;
}

.info1-container:hover, .info2-container:hover, .info3-container:hover {
  scale: 1.1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.171);
}

.info-container img {
  transition: all 0.3s;
}

.info1-img:hover, .info2-img:hover, .info3-img:hover {
  width: 300px;
  height: 200px;
}

.info-container h2 {
  width: 200px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.info-container p {
  width: 200px;
  font-size: 14px;
}


/* CARD */
.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(144, 110, 55);
  color: antiquewhite;
  margin: 40px 0 50px 0;
  padding: 40px;
  border: 5px dashed rgb(114, 64, 10);
  rotate: 1deg;
  transition: all 0.5s;
}

.card:hover {
  rotate: -3deg;
  scale: 1.1;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.421);
}

.card-img {
  height: 200px;
  border: 2px solid;
  border-radius: 5px;
  rotate: -3deg;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-h2 {
  z-index: 1;
  font-size: 12px;
  rotate: 3deg;
  border: 1px solid rgb(242, 180, 168);
  padding: 2px 4px;
  margin-bottom: -8px;
  background-color: rgb(114, 64, 10);
}

.card-h3 {
  z-index: 2;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}

.card-p {
  font-size: 12px;
  font-style: italic;
  width: 220px;
}



/* FOOTER */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(235, 208, 159);
}